@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  background: black;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.movie-card {
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}
.movie-card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.info-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
h1 {
  color: #fff;
  font-weight: 400;
}
h4 {
  color: #9ac7fa;
  font-weight: 400;
}

.movie-poster {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie-desc {
  padding: 25px;
  height: 50%;
  word-wrap: break-word;
}
.movie-desc p {
  height: 100px;
  word-wrap: break-word;
}
/* .detail {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background-color: #22a6b3;
  outline: none;
  padding: 2px;
  font-size: 12px;
} */
.movie-desc span {
  background-color: #171e1a;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 30px;
  word-wrap: break-word;
}
.movie-desc span.green {
  color: lightgreen;
}
.movie-desc span.orange {
  color: orange;
}
.movie-desc span.red {
  color: red;
}
/* CSS */
.detail {
  background: #31cd7d;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;

  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  position: absolute;
  right: 100px;
  bottom: 20px;
}
.detail a {
  text-decoration: none;
  color: black;
}
.text {
  color: #cfd6e1;
}

\\ ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}

i {
  font-size: 19px;
  cursor: pointer;
}
.blur-back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .movie-header {
    width: 60%;
  }

  .movie-desc {
    width: 50%;
  }

  .info-section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur-back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .movie-card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur-back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie-header {
    width: 100%;
    margin-top: 85px;
  }

  .movie-desc {
    width: 100%;
  }

  .info-section {
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}

#bright {
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
#bright:hover {
  box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}

.bright-back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}

/* search */
.search-box {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  justify-content: center;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  outline: none;
  border-radius: 25px;
  font-size: 18px;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ #form .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.45, 2);
}

.movie_card-detail {
}
